// color
$color-primary: #CF5260;
$color-secondary: #014274;
$color-white: #fff;
$color-gray-1: #b4b4b4;
$color-red-1: #cc0000;

// box shadow
$box-shadow-1: 0px 2px 8px rgba(0, 0, 0, 0.25);
$box-shadow-2: 0px 2px 8px rgba(0, 0, 0, 0.5)