@import 'variables';

.container {
    display: flex;
    gap: 2rem;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            border-radius: 50%;
            object-fit: cover;
        }

        p {
            margin-top: 1rem;
            color: $color-white;
            font-size: 0.8rem;
            font-weight: 700;
        }
    }
}
