@import 'variables';

:root {
  --swiper-theme-color: #CF5260 !important;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-montserrat);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.errorPage {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;

  h1 {
    font-size: 6rem;
  }
}